@import "sass/variables";

.btn {
    display: inline-block;
    border-radius: 2px;
    border: none;
    line-height: 1;
    cursor: pointer;
    transition: all .3s;
}

.btnDefault {
    background-color: $mainBg;
    color: $mainColor;
    font-size: 16px;
    padding: 15px 30px;
    min-width: 120px;

    &:hover {
        background-color: $mainBgHover;
    }
}

.btnCustom {
    background-color: transparent;
    color: $mainColor;
    border: 2px solid $border-color;
    border-radius: 2px;
    font-size: 18px;
    padding: 20px 40px;

    &:hover {
        border-color: $mainBgHover;;
        background-color: $mainBgHover;
    }
}

.btnContainer {
    text-align: center;
    margin-top: 2em;
}

.btnBlock {
    @media (max-width: 459px) {
        text-align: center;
    }
}

