.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: 49%;

    @media (max-width: 459px) {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.item:not(:last-child) {
    margin-bottom: 10px;
}
