@import "../../common/styles/sass/variables";

.skillsItem {
    width: 31%;
    margin: 2% 1%;
    min-width: 300px;
    background-color: $secondBg;
    border: 10px solid $borderColor;
    padding: 2em;
    box-shadow: 0 10px 30px 0 $shadowColor;
    border-radius: 2px;
    text-align: center;

    @media (max-width: 997px) {
        width: 48%;
    }

    @media (max-width: 665px) {
        width: 100%;
    }
}

.icon {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    color: $thirdColor;

    &:before {
        font-size: 50px;
        line-height: 60px;
    }
}


