@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.mainBlock {
    min-height: 100vh;
    height: 1px;/*bugfix for child with height 100%*/
    background-color: $mainBg;
    color: $mainColor;

    h4 {
        font-size: 24px;

        @media (max-width: 1023px) {
            font-size: 18px;
        }
    }
}

.mainContainer {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media (max-width: 867px) {
        flex-direction: column;
    }
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url("https://images.pexels.com/photos/1987301/pexels-photo-1987301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;

    @media (min-width: 868px) {
        margin-right: 3em;
    }


    @media (max-width: 867px) {
        margin-bottom: 3em;
        width: 250px;
        height: 250px
    }

}

.text {
    @media (min-width: 868px) {
        flex-basis: 60%;
        flex-grow: 1;
    }
}

.btnContainerMain {
    margin-top: 20px;
}


