//colors
$white: #fff;
$black: #333;
$blackTrans1: rgba(0, 0, 0, .1);
$darkGrey: #38414a;
$grey: #555;
$lightGrey: #62676b;
$brown: #b0826e;
$lighterBrown: #f2e9e0;


//bg
$mainBg: $brown;
$secondBg: $lighterBrown;
$thirdBg: $white;
$fourthBg: $darkGrey;


$mainBgHover: $lightGrey;
$secondBgHover: $white;
$thirdBgHover: $brown;

$border-color: $white;

//text
$mainColor: $white;
$secondColor: $darkGrey;
$thirdColor: $brown;

//shadow
$shadowColor: $blackTrans1;

$borderColor: $white;